<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GeekSoft - Shop</title>
    <link rel="stylesheet" href="/static/source/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/static/source/popper.min.js"></script>
    <script src="/static/source/jquery-3.5.1.min.js"></script>
    <script src="/static/source/bootstrap.min.js"></script>
    <script>
        function ChangePrice() {
            price_num = document.getElementById("price_input").value;
            price_el = document.getElementById("price_el");
            price_el.innerText = price_num;
        }
    </script>
</head>

<body>
<header>
    <div class="header_top">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <p class='tel'>Телефонный звонок: <a href="tel:+79129120101">+7 (912) 912-01-01</a></p>
                </div>

                <div class="col-md-4 offset-5">
                    <ul>
                        <li>Настройки</li>
                        <li>Язык: Русский</li>
                        <li>Курс: USD</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="header_mine">
            <div class="row">

                <div class="col-md-3">
                    <div class="logo">
                        <p><a href="/">GeekSoft</a></p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form">
                        <div class="dropdown">
                            <form action="/shop?text=hello" id="search">
                                <input type="text" name="text" placeholder="Обыщите здесь весь магазин..." {% if search_text != ' ' %} value='{{ search_text }}' {% endif %}>
                                <button type="submit" class="search" form="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 usr_links">
                    {% if Name %}
                        <a href="/personal/">
                            <div class="item">{{Name}}</div>
                        </a>
                    {% else %}
                        <a href="/login/">
                            <div class="item">Войти</div>
                        </a>
                    {% endif %}
                    <a href="/personal/">
                        <div class="item cart">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <span>$609.00</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<nav>
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <ul class="nav nav-pills">
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/shop/">Магазин</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           href="https://freelancehunt.com/freelancer/ArtuRus2k.html#portfolio" target="_blank">Портфолио</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="https://vk.com/ainn0ttfue" target="_blank">Блог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#footer">Контакты</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-5">
                <p class="addres text-right">
                    <a href="https://2gis.ru/irkutsk/geo/1548748027074315?m=104.301128%2C52.218782%2F16" target="_blank"><i
                            class="fa fa-map-marker" aria-hidden="true"></i> 6688 Россия, Ирк. Область Иркутск Юб. 69
                        360, RU</a>
                </p>
            </div>

        </div>
    </div>
</nav>

{% block breadcrumbs %}

{% endblock %}

{% block main %}
    Что-то пошло не так
{% endblock %}


<footer id="footer">
    <div class="container">
        <div class="advantages">
            <div class="row">
                <div class="col-md-3">
                    <div class="advantages-item">
                        <div class="img_footer_1"></div>
                        <h3>Бесплатная доставка</h3>
                        <p>И бесплатное возвращение. Даты доставки указаны на кассе.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advantages-item">
                        <div class="img_footer_2"></div>
                        <h3>Безопасная оплата</h3>
                        <p>Оплачивайте с помощью самых популярных и безопасных в мире способов оплаты.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advantages-item">
                        <div class="img_footer_3"></div>
                        <h3>Конфиденциальность</h3>
                        <p>Наша Защита Покупателей покрывает Вашу покупку от щелчка мыши до поставки.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advantages-item">
                        <div class="img_footer_4"></div>
                        <h3>Поддержка 24/7</h3>
                        <p>У тебя есть вопрос? Позвоните специалисту или пообщайтесь в чате онлайн.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_main_content">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="footer_main_info">
                        <div class="logo">
                            <p><a href="/">GeekSoft</a></p>
                        </div>
                        <p>Мы команда дизайнеров и разработчиков, которые создают высококачественные Magento,
                            Prestashop, Opencart.</p>
                        <div class="footer_address">
                            <p><b>Адрес: </b><a
                                    href="https://2gis.ru/irkutsk/geo/1548748027074315?m=104.301128%2C52.218782%2F16" target="_blank">6688
                                Россия, Ирк. Область Иркутск Юб. 69 360, RU</a></p>
                            <p><b>Телефон: </b><a href="tel:+79129120101">+7 (912) 912-01-01</a></p>
                            <p><b>Email: </b><a href="mailto:ilinartur2@gmail.com">ilinartur2@gmail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <h4>Информация</h4>
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Информация о доставке</a></li>
                        <li><a href="#">Политика конфиденциальности</a></li>
                        <li><a href="#">Положения и условия</a></li>
                        <li><a href="#">Служба поддержки</a></li>
                        <li><a href="#">Политика возврата</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer_my_account">
                    <h4>Мой Аккаут</h4>
                    <ul>
                        <li><a href="#">Мой Аккаунт</a></li>
                        <li><a href="#">История заказов</a></li>
                        <li><a href="#">Список желаний</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">История заказов</a></li>
                        <li><a href="#">Международные заказы</a></li>
                    </ul>
                </div>
                <div class="col-md-4 social">
                    <div class="follow_us">
                        <h4>Присоединяйтесь</h4>
                        <ul>
                            <li><a href="https://ru-ru.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li><a href="https://dribbble.com/" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="subscribe">
                        <h4>Подпишитесь на рассылку</h4>
                        <div class="form">
                            <input type="text" name="" placeholder="Введите здесь свой Email...">
                            <button type="button" name="button" class="search"><b>Подписаться</b></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md copy text-center">
            <p>Copyright &copy; 2020 <a href="/">GeekSoft</a>. All Right Reserved.</p>
        </div>

    </div>
</footer>
</body>

</html>
