{% extends 'base.html' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p><a href="/">Главная</a> / {{ current_product[0] }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="product_info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product_image" style="background-image: url({{ current_product[1] }})">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product_info">
                            <h1>{{ current_product[0] }}</h1>
                            <p class="price">&dollar;{{ current_product[2] }}</p>
                            <p class="aviable">
                                В наличии:
                                {% if current_product[3] > 0 %}
                                    <span class="text-success">есть</span>
                                {% else %}
                                    <span class="text-danger">нет</span>
                                {% endif %}
                            </p>
                            <p class="description_short">
                                {{ current_product[4] }}
                            </p>
                            <div class="ul">
                                {% for item in current_product[5].split('\\n') %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </div>
                            <hr>
                            <div class="actions">
                                <span>Кол-во: </span>
                                <input type="number" name="" value="1" min="1" max="99">
                                <button class="search">Добавить в Корзину</button>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Описание-->
                <div class="products_block">
                    <h2 class="section_title">Описание</h2>
                    <div class="row products_list_block">
                        <div class="col">
                            <div class="product_descriprion">
                                {% for item in current_product[6].split('/n') %}
                                    <p>{{ item }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- Похожие продукты -->
                    <div class="products_block">
                        <h2 class="section_title">Похожие продукты</h2>
                        <div class="row products_list_block">
                            <div class="products_card_wrapper">
                                {% for product in products[:5] %}
                                   <div class="col-md-2">
                                    <div class="product_card">
                                        <a href="/details?title={{ product[0] }}">
                                            <div class="product_card_img" style="background-image: url({{ product[1] }})"></div>
                                            <p class="product_card_title">{{ product[0][:46] }}...</p>
                                            <p class="price">&dollar;{{ product[2] }}0</p>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}