{% extends 'base.html' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p><a href="#">Главная</a> / Игровой контроллер TGJOR Проводной USB Gamepad джойстик с плечевыми
                        кнопками....</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="product_info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product_image">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product_info">
                            <h1>Игровой контроллер TGJOR Проводной USB Gamepad джойстик с плечевыми кнопками....</h1>
                            <p class="price">$260.00 <span class="old">$162.00</span></p>
                            <p class="aviable">
                                В наличии: <span class="text-success">есть</span>
                            </p>
                            <p class="description_short">
                                Эксклюзивный пакет "Пляжная камера" - включает в себя два беспроводных
                                Bluetooth-динамика
                                Samsung Radiant 360 R3 Wi-Fi. Заполните весь номер изысканным звуком с помощью
                                технологии
                                кольцевого излучателя. Потоковая передача и управление
                                динамиками R3 по беспроводной связи со смартфоном. Изысканный, современный дизайн
                                отлично
                                смотрится на любом столешнице или поверхности. Просто коснитесь или проведите пальцем,
                                чтобы
                                управлять всем, начиная с режима воспроизведения и
                                заканчивая режимом воспроизведения.
                            </p>
                            <div class="ul">
                                <li>High-precision lens provides</li>
                                <li>60’’ class 65.6” screen full array</li>
                                <li>Display type LED, Resolution: 1920 x 1170</li>
                                <li>Monitor Rate: 190</li>
                            </div>
                            <hr>
                            <div class="actions">
                                <span>Кол-во: </span>
                                <input type="number" name="" value="1" min="1" max="99">
                                <button class="search">Добавить в Корзину</button>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Описание-->
                <div class="products_block">
                    <h2 class="section_title">Описание</h2>
                    <div class="row products_list_block">
                        <div class="col">
                            <div class="product_descriprion">
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                    consequat,
                                    vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
                                    dignissim qui blandit praesent luptatum zzril delenit augue
                                    duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend
                                    option
                                    congue nihil imperdiet doming id quod mazim
                                    placerat facer possim assum. Typi non habent claritatem insitam est usus legentis in
                                    iis
                                    qui facit eorum claritatem.</p>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod
                                    tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                                    veniam,
                                    quis nostrud exerci tation ullamcorper suscipit lobortis
                                    nisl ut aliquip ex ea commodo consequat.</p>

                                <p>Typi non habent claritatem insitam <br>
                                    Est usus legentis in iis qui facit eorum claritatem. <br>
                                    Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. <br>
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                                    lectorum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Похожие продукты -->
                    <div class="products_block">
                        <h2 class="section_title">Похожие продукты</h2>
                        <div class="row products_list_block">
                            <div class="products_card_wrapper">
                                <div class="col-md-2">
                                    <div class="product_card">
                                        <div class="product_card_img"></div>
                                        <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                            Джойстик...</p>
                                        <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="product_card">
                                        <div class="product_card_img"></div>
                                        <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                            Джойстик...</p>
                                        <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="product_card">
                                        <div class="product_card_img"></div>
                                        <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                            Джойстик...</p>
                                        <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="product_card">
                                        <div class="product_card_img"></div>
                                        <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                            Джойстик...</p>
                                        <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="product_card">
                                        <div class="product_card_img"></div>
                                        <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                            Джойстик...</p>
                                        <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}