{% extends 'base.html' %}

{% block breadcrumbs %}

{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="offer">
                <div class="row">

                    <div class="col-md-3">
                        <div class="categories">
                            <div class="categories_title text-uppercase">
                                <p><i class="fa fa-list" aria-hidden="true"></i>Все категории</p>
                            </div>
                            <div class="categories_list">
                                <ul>
                                    <li><a href="/shop/">Телевидение и Аудио</a></li>
                                    <li><a href="/shop/">Компьютер и сети</a></li>
                                    <li><a href="/shop/">Мобильные и планшетные компьютеры</a></li>
                                    <li><a href="/shop/">Камеры и видеокодеры</a></li>
                                    <li><a href="/shop/">Наушники и спикеры</a></li>
                                    <li><a href="/shop/">Фильмы и видеоигры</a></li>
                                    <li><a href="/shop/">Смартчасы</a></li>
                                    <li><a href="/shop/">Аксессуары</a></li>
                                    <li>
                                        <div class="categories_more">
                                            <a href="/shop/">+ Больше Категорий</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-9">
                        <!-- slider -->
                        <div class="main_offer_block">
                            <p>Скидка <span class="text-danger">-10%</span> На Этой Неделе</p>
                            <h1>Самые популярные
                                <br>Наушники 2k20</h1>
                            <p>Стартует с <span class="text-danger">$589.00</span></p>
                            <a href="/details/"><input type="submit" name="" value="Купить сейчас"></a>
                        </div>
                        <!-- end slider -->
                    </div>

                    <div class="col-md-4">
                        <a href="/details/">
                            <div class="little_offer_block little_offer_block-first">
                                <div class="price">
                                    От <br> $129
                                </div>
                                <h2>Дрон DJI Inspire
                                    <br>Два Контроллера</h2>
                                <p>Скидка 10% На Всю Продукцию</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="/details/">
                            <div class="little_offer_block">
                                <h2>Нашумевший
                                    <br>Xbox Геймпад
                                    <br>2020 - 2021</h2>
                                <p>Скидка 20%</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="/details/">
                            <div class="little_offer_block">
                                <div class="price">
                                    От<br>$99
                                </div>
                                <h2>Samsung
                                    <br>Galaxy S9/S9+</h2>
                                <p>Камера. Инновация</p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <!-- Hot Deals Products -->
            <div class="products_block">
                <h2 class="section_title">Горячие предложения</h2>
                <div class="row products_list_block">
                    <!-- slider -->
                    <div class="products_card_wrapper">
                        <div class="col-md-2">
                            <div class="product_card">
                                <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="product_card">
                                 <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                 <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                 <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- end slider -->
                </div>
            </div>

            <!-- Computer & Laptops -->
            <div class="products_block">
                <h2 class="section_title">Компьютеры и Ноутбуки</h2>
                <div class="row products_list_block">
                    <!-- slider -->

                    <div class="col-md-6">
                         <a href="/details/">
                            <div class="little_offer_block">
                                <p class="sale_block_title">Большая распродажа 2020</p>
                                <h2>Ноутбук, Планшет
                                    <br>и другое...</h2>
                                <p class="ends_in">Большая распродажа заканчивается 8/10/2020</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="/details/">
                            <div class="little_offer_block">
                                <p class="sale_block_title">Большая распродажа 2020</p>
                                <h2>Ноутбук, Планшет
                                    <br>и другое...</h2>
                                <p class="ends_in">Большая распродажа заканчивается 8/10/2020</p>
                            </div>
                        </a>
                    </div>

                    <div class="products_card_wrapper">
                        <div class="col-md-2">
                            <div class="product_card">
                                <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="product_card">
                                <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                 <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                 <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- end slider -->
                </div>
            </div>

            <!-- Mobile & Tablets -->
            <div class="products_block">
                <h2 class="section_title">Телефоны и Планшеты</h2>
                <div class="row products_list_block">

                    <div class="col-md-6">
                       <a href="/details/">
                            <div class="little_offer_block">
                                <p class="sale_block_title">Большая распродажа 2020</p>
                                <h2>Ноутбук, Планшет
                                    <br>и другое...</h2>
                                <p class="ends_in">Большая распродажа заканчивается 8/10/2020</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="/details/">
                            <div class="little_offer_block">
                                <p class="sale_block_title">Большая распродажа 2020</p>
                                <h2>Ноутбук, Планшет
                                    <br>и другое...</h2>
                                <p class="ends_in">Большая распродажа заканчивается 8/10/2020</p>
                            </div>
                        </a>
                    </div>

                    <div class="products_card_wrapper">
                        <div class="col-md-2">
                            <div class="product_card">
                               <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="product_card">
                                <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                 <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                 <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TV & Audio -->
            <div class="products_block">
                <h2 class="section_title">ТВ и Аудио</h2>
                <div class="row products_list_block">

                    <div class="col-md-6">
                        <a href="/details/">
                            <div class="little_offer_block">
                                <p class="sale_block_title">Большая распродажа 2020</p>
                                <h2>Ноутбук, Планшет
                                    <br>и другое...</h2>
                                <p class="ends_in">Большая распродажа заканчивается 8/10/2020</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                       <a href="/details/">
                            <div class="little_offer_block">
                                <p class="sale_block_title">Большая распродажа 2020</p>
                                <h2>Ноутбук, Планшет
                                    <br>и другое...</h2>
                                <p class="ends_in">Большая распродажа заканчивается 8/10/2020</p>
                            </div>
                        </a>
                    </div>

                    <div class="products_card_wrapper">
                        <div class="col-md-2">
                            <div class="product_card">
                                <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="product_card">
                                <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                               <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                               <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Big offer -->
            <div class="big_offer row">
                <div class="main_offer_block col">
                    <p>Скидка -20% На этой неделе</p>
                    <h1>Попоулярный продукт
                        <br>Аксессуары Apple 2020</h1>
                    <p>Начинается от <span class="text-danger">$1209.00</span></p>
                     <a href="/details/"><input type="submit" name="" value="Купить сейчас"></a>
                </div>
            </div>

            <!-- Top Accessories Sale -->
            <div class="products_block">
                <h2 class="section_title">Лучшие скидки на аксессуары</h2>
                <div class="row products_list_block">
                    <div class="products_card_wrapper">
                        <div class="col-md-2">
                            <div class="product_card">
                                <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="product_card">
                                 <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                 <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="product_card">
                                 <a href="/details/">
                                    <div class="product_card_img"></div>
                                    <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB Джойстик...</p>
                                    <p class="price">$260.00 <span class="old">$162.00</span> <span class="sale">-10% Скидка</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
