{% extends 'base.html' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p><a href="#">Главная</a> / Товары</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <main id="shop">
        <div class="container">
            <div class="offer">
                <div class="row">

                    <div class="col-md-3">
                        <div class="options">
                            <div class="options_title">
                                <h1>Параметры поиска</h1>
                            </div>
                            <hr>

                            <ul class="categories">
                                <li class="wrap_item">Ноутбук и компьютер</li>
                                <li><a href="#">Аксессуары</a></li>
                                <li><a href="#">Сумки и чехлы</a></li>
                                <li><a href="#">Бинокль и очки</a></li>
                                <li><a href="#">Цифровые фотоаппараты</a></li>
                                <li><a href="#">Фильм Фотография</a></li>
                                <li class="wrap_item">Гостиная</li>
                                <li class="wrap_item">Мебель для освещения</li>
                                <li class="wrap_item">На открытом воздухе</li>
                                <li class="wrap_item">Планшеты</li>
                                <li class="wrap_item">Аксессуары</li>
                            </ul>

                            <hr>

                            <div class="options_title">
                                <h1>Сортировать По</h1>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-light" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Без сортировки
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">По цене</a>
                                    <a class="dropdown-item" href="#">По количеству</a>
                                    <a class="dropdown-item" href="#">По дате появления</a>
                                    <a class="dropdown-item" href="#">По популярности</a>

                                </div>
                            </div>

                            <hr>

                            <div class="options_title">
                                <h1>Фильтр Цены</h1>
                            </div>

                            <p>От 0$ до <span id="price_el">450</span>$</p>
                            <input type="range" min="1" max="1000" id="price_input" oninput="ChangePrice()" value="450">
                            <button type="button" class="btn btn-black">Отфильтровать</button>

                            <hr>

                            <div class="options_title">
                                <h1>По Бренду</h1>
                            </div>
                            <ul class="brands">
                                <li><input type="checkbox">Samsung</li>
                                <li><input type="checkbox">Panasonic</li>
                                <li><input type="checkbox">Electrolux</li>
                                <li><input type="checkbox">LG</li>
                                <li><input type="checkbox">Calvin Klein</li>
                                <li><input type="checkbox">Diesel</li>
                                <li><input type="checkbox">Polo</li>
                                <li><input type="checkbox">Tommy Hilfiger</li>
                            </ul>

                            <hr>

                            <div class="options_title">
                                <h1>По Цвету</h1>
                            </div>
                            <ul class="brands">
                                <li><input type="checkbox">Черный</li>
                                <li><input type="checkbox">Синий</li>
                                <li><input type="checkbox">Зеленый</li>
                                <li><input type="checkbox">Серый</li>
                                <li><input type="checkbox">Красный</li>
                                <li><input type="checkbox">Белый</li>
                                <li><input type="checkbox">Желтый</li>
                            </ul>

                            <hr>

                            <div class="options_title">
                                <h1>Популярные Теги</h1>
                            </div>
                            <button type="button" class="btn btn-black">Компьютер</button>
                            <button type="button" class="btn btn-disable">Камеры</button>
                            <button type="button" class="btn btn-disable">Аксессуары</button>
                            <button type="button" class="btn btn-disable">Скидки</button>
                            <button type="button" class="btn btn-disable">Sony</button>
                            <button type="button" class="btn btn-disable">Devita</button>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="row">
                            <div class="main_offer_block">
                                <h1>Самые популярные
                                    <br>Наушники 2k20</h1>
                                <p>Стартует с <span class="text-danger">$1209.00</span></p>
                            </div>

                            <div class="container-fluid products_block ">
                                <div class="row products_list_block">

                                    <div class="product_card col-md-3">
                                         <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                        <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                        <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                         <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                        <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                        <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                         <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                       <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                       <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                        <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                         <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                         <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                        <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                        <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                        <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                    <div class="product_card col-md-3">
                                         <a href="/details/">
                                            <div class="product_card_img"></div>
                                            <p class="product_card_title">Игровой Контроллер TGJOR Проводной USB
                                                Джойстик...</p>
                                            <p class="price text-black">$260.00</p>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="page_nav">
                                    <div class="buttons">
                                        <button type="button" class="btn btn-grey">Предыдущая</button>
                                        <button type="button" class="btn btn-yellow">1</button>
                                        <button type="button" class="btn btn-grey">2</button>
                                        <button type="button" class="btn btn-grey">3</button>
                                        <button type="button" class="btn btn-grey">...</button>
                                        <button type="button" class="btn btn-grey">10</button>
                                        <button type="button" class="btn btn-yellow">Следущая</button>
                                        <span>Показано 1 - 16 из 30 результатов</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}